<div id="footer">
  <ul class="list-inline text-center">
    <div class="col-xs-3">
      <li><a href="http://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
    </div>
    <div class="col-xs-3">
      <li><a href="http://www.intagram.com"><i class="fa fa-instagram"></i></a></li>
    </div>
    <div class="col-xs-3">
      <li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
    </div>
    <div class="col-xs-3">
      <li><a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
    </div>
  </ul>
</div>
</div>
