<body>
  <div class="text-center">
    <div class="container">
      <h2 class="team" >Our team</h2>
      <div class"row text-center">
        <% data.products.each do |member| %>
        <div class="col-xs-12 col-sm-4">
          <h3><%= member.name %></h3>
          <%= image_tag member.image, class: "img-thumbnail" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="container text-center">
      <h3 class="padded">
        <a href="mailto:contact@airbnb.com">
          <i class="fa fa-envelope"></i> contact@airbnb.com
        </a>
      </h3>
    </div>
  </div>
</body>
